<mat-card>
  <mat-card-title>Cadastrar Produto</mat-card-title>
  <form [formGroup]="produtoForm">
    <mat-form-field>
      <input matInput placeholder="Nome" formControlName="nome" required>
    </mat-form-field>
    <mat-error *ngIf="nome.errors?.['required']">
      <i style="color: red;">Campo obrigatório</i>
    </mat-error>
    <mat-form-field>
      <input matInput placeholder="Quantidade" formControlName="quantidade" required>
    </mat-form-field>
    <mat-error *ngIf="quantidade.errors?.['required']">
      <i style="color: red;">Campo obrigatório</i>
    </mat-error>
    <mat-form-field>
      <input matInput placeholder="Fornecedor" formControlName="fornecedor" required>
    </mat-form-field>
    <mat-error *ngIf="fornecedor.errors?.['required']">
      <i style="color: red;">Campo obrigatório</i>
    </mat-error>
    <mat-form-field>
      <input matInput placeholder="Validade" formControlName="validade" required>
    </mat-form-field>
    <mat-error *ngIf="validade.errors?.['required']">
      <i style="color: red;">Campo obrigatório</i>
    </mat-error>
    <mat-form-field>
      <input matInput placeholder="Categoria" formControlName="categoria" required>
    </mat-form-field>
    <mat-error *ngIf="categoria.errors?.['required']">
      <i style="color: red;">Campo obrigatório</i>
    </mat-error>
    <button mat-raised-button type="submit" (click)="cadastrar()">Cadastrar</button>
  </form>
</mat-card>
