form{
  display: flex;
  flex-direction: column;
}

button{
  margin-top: 25px;
  margin-left: 800px;
  margin-right: 800px;
  margin-bottom: 20px;
  color: black;
}

mat-error{
  font-size: smaller;
}

mat-card-title{
  margin-left: 845px;
}

mat-form-field{
  margin-top: 20px;
}
