mat-card{
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 800px;
  margin-right: 835px;
}

.title{
  margin-inline: 5%;
  font-weight: bolder;
}
table{
  width: 90%;
  margin-inline: 5%;
}

.full-width{
  font-size: 14px;
  width: 100%;
}

.btn-table-container{
  padding-bottom: 16px;
}

.btn-table{
  margin-left: 8px;
}

td > a{
  text-decoration: none;
}

td#editar > a{
  color: blue;
}

td#excluir >a{
  color: red;
}

.mat-icon{
  vertical-align: middle;
}
